<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnnoMapEditor.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnnoMapEditor.UserSettings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableExpertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssetsHash" serializeAs="String">
                <value />
            </setting>
            <setting name="Xpath" serializeAs="String">
                <value />
            </setting>
        </AnnoMapEditor.UserSettings>
    </userSettings>
</configuration>